# 5. Sets in Python


 * __Sets is one of 4 built-in data types in Python used to store collections of data including List, Tuple, and Dictionary.__
 * __Sets are unordered, but your can remove items and add new items.__
 * __Sets elements are unique, Duplicate elements are not allowed.__
 * __A set itself may be modified, but the elements contained in the set must be of an immutable type.__
 * __Sets are used to store multiple items in a single variable.__
 * __You can denote a set with a pair of curly brackets {}.__

In [6]:
# The empty set of curly braces denotes the empty dictionary, not empty set

x = {}
print(x)
print(type(x))

{}
<class 'dict'>

In [7]:
y = set()
print(y)
print(type(y))

set()
<class 'set'>

In [8]:
# Take a set

set1={'Hello Python',3.14,1.618,'Hello World',3.14,1.618,True,False,2023}
set1

{1.618, 2023, 3.14, False, 'Hello Python', 'Hello World', True}

In [9]:
print(type(set1))

<class 'set'>

# Converting list to set

In [14]:
# A list can convert to a set
# Take a list

nlis=['Hello Python',3.14,1.618,'hello World',3.14,1.618,True,False,2023]
print(nlis)
print(type(nlis))

# convert the list to a set

set2=set(nlis)
print(set2)
print(type(set2))

['Hello Python', 3.14, 1.618, 'hello World', 3.14, 1.618, True, False, 2023]
<class 'list'>
{False, 1.618, True, 3.14, 2023, 'hello World', 'Hello Python'}
<class 'set'>

# Set operations

In [17]:
# Take a set

set3=set(['Hello Python',3.14,1.618,'hello World',3.14,1.618,True,False,2023])
set3

{1.618, 2023, 3.14, False, 'Hello Python', True, 'hello World'}

# add() function

 * __To add an element into a set, we use the function add(). If the same element is added to the set, nothing will happend because the set accepts no duplicates.__

In [20]:
# Addition of an element to a set

print(set3)
set3.add('Bhagyashri')
print(set3)
set3.add('Bhagyashri')
print(set3)

{False, 1.618, True, 3.14, 2023, 'Bhagyashri', 'hello World', 'Hello Python'}
{False, 1.618, True, 3.14, 2023, 'Bhagyashri', 'hello World', 'Hello Python'}
{False, 1.618, True, 3.14, 2023, 'Bhagyashri', 'hello World', 'Hello Python'}

# update() function

 * __To add multiple elements into the set.__

In [22]:
x_set={6,7,8,9}
print(x_set)
x_set.update({3,4,5,6,7,8,9})
print(x_set)

{8, 9, 6, 7}
{3, 4, 5, 6, 7, 8, 9}

# remove() function

 * __To remove an element from the set.__

In [24]:
print(set3)
set3.remove('Bhagyashri')
print(set3)

{False, 1.618, True, 3.14, 2023, 'Bhagyashri', 'hello World', 'Hello Python'}
{False, 1.618, True, 3.14, 2023, 'hello World', 'Hello Python'}

# Logic oprations in Sets

In [26]:
set4=set(['Hello Python',3.14,1.618,'Hello World'])
set5=set([3.14,1.618,True,False])

# print two set
print(set4)
print(set5)

{1.618, 'Hello World', 3.14, 'Hello Python'}
{False, 1.618, 3.14, True}

In [27]:
# another method to printing two set at a time

print(set4,set5)

{1.618, 'Hello World', 3.14, 'Hello Python'} {False, 1.618, 3.14, True}

# To find the intersect of two sets using &

In [29]:
print(set4,set5)

intersection=set4&set5
print(intersection)

{1.618, 'Hello World', 3.14, 'Hello Python'} {False, 1.618, 3.14, True}
{1.618, 3.14}

In [30]:
# another method to find intersection between (two sets)

set4.intersection(set5)

{1.618, 3.14}

# differece() function
 * __To find the difference between two sets.__

In [33]:
print(set4,set5)

print(set4.difference(set5))    # A-B
print(set5.difference(set4))    # B-A

{1.618, 'Hello World', 3.14, 'Hello Python'} {False, 1.618, 3.14, True}
{'Hello World', 'Hello Python'}
{False, True}

In [35]:
# The same process can make using subtraction operators as follows:
print(set4-set5)
print(set5-set4)

{'Hello World', 'Hello Python'}
{False, True}

# union() function

* __It corresponds to all the element in both sets.__

In [36]:
set4.union(set5)

{1.618, 3.14, False, 'Hello Python', 'Hello World', True}

In [1]:
x={1,2,3,4,5,6,7,8,9}
x

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [2]:
print(type(x))

<class 'set'>

# clear() function

 * __It removes all elements in the set and then do the set empty.__

In [3]:
x

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [4]:
y=set()
y

set()

In [5]:
x

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
x.clear()
print(x)

set()

# pop() function

 * __It removes and return an arbitrary set element.__

In [7]:
x = {0,1,2,3,4,5,6,7,8,9,10}
x

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [13]:
x.pop()
print(x)

{6, 7, 8, 9, 10}