# 8. Loops in Python


 * __A for loop is used for iteration over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in list, tuple, set etc.__
 * __The for loops does not require an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statements as long as a condition is true.__
 * __Note: remember to increment i, or else the loop will continue forever.__
 * __The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1/=.
 
# range() function

 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code a specified number of times, we can use the range() function.__
 * __The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.__

In [1]:
print(range(5))

range(0, 5)

In [2]:
print(range(10))

range(0, 10)

# for loop

 * __The for loop enables you to execute a code block multiple times.__

In [3]:
years=[2005,2006,2007,2008,2009,2010]

for i in years:
    print(i)

2005
2006
2007
2008
2009
2010

In [4]:
for x in years:
    print(x)

2005
2006
2007
2008
2009
2010

In [19]:
for i in range(len(years)):
    print(i,years[i])

0 2005
1 2006
2 2007
3 2008
4 2009
5 2010

In [8]:
# Another for loop example

for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [12]:
for i in range(30,50,3):
    print(i)

30
33
36
39
42
45
48

In [18]:
languages=['Java','JavaScript','C','C++','PHP']

for i in range(len(languages)):
    print('language is:',i,languages[i])

language is: 0 Java
language is: 1 JavaScript
language is: 2 C
language is: 3 C++
language is: 4 PHP

In [20]:
# another method

for index, i in enumerate(languages):
    print(index,i)

0 Java
1 JavaScript
2 C
3 C++
4 PHP

In [21]:
# To take numbers between -3 and 6 using for loop
# use range() function

for i in range(-3,7):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6

In [24]:
number1=int(input('Enter any number\n'))

for i in range(1,11):
    print('%dX%d=%d'%(number1,i,number1*i))

Enter any number
35
35X1=35
35X2=70
35X3=105
35X4=140
35X5=175
35X6=210
35X7=245
35X8=280
35X9=315
35X10=350

# Addition and average calculation in for loop

In [31]:
# Take a list

nlis=[0.577,2.718,3.14,1.618,1729,6,37,100]

# Write a for addition
count=0    #global variable
for i in nlis:
    count+=i
print('The total value of the numbers in the list is:',count)
print('The average value of the numbers in the list is:',count/len(nlis))

The total value of the numbers in the list is: 1880.053
The average value of the numbers in the list is: 235.006625

# break in for loop

In [35]:
# brak in for loop

nlis=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]

for i in nlis:
    if i==11:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10

# Continue in for loop

In [37]:
nlis=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]

for i in nlis:
    if i == 9:
        continue
    print(i)

1
2
3
4
5
6
7
8
10
11
12
13
14

# While loop


 __The While loop exists as a tool for repeated execution based on a condition. The code block will keep being executed until the given logical condition returns a False boolean value.__

In [1]:
# Take an example:

i = 22
while i<27:
    print(i)
    i+=1

22
23
24
25
26

In [2]:
# take an example


i=22

while i>=17:
    print(i)
    i-=1

22
21
20
19
18
17

In [6]:
num=int(input('Enter a number:\n'))

i = 1
while i<=10:
    print('%dX%d=%d'%(num,i,num*i))
    i+=1

Enter a number:
19
19X1=19
19X2=38
19X3=57
19X4=76
19X5=95
19X6=114
19X7=133
19X8=152
19X9=171
19X10=190

# for-else statement

In [9]:
for i in range(1,6):
    print(i,end=' ')
else:
    print('These are numbers from 1 to 5')

1 2 3 4 5 These are numbers from 1 to 5

# While-else statement

In [14]:
index=0
while index<=5:
    print(index,end=' ')
    index+=1
else:
    print('It gives us the numbers from 0 to 5')

0 1 2 3 4 5 It gives us the numbers from 0 to 5

# Continue in While loop

In [15]:
i = 0

while i<=5:
    print(i)
    i+=1
    if i==3:
        continue

0
1
2
3
4
5

# break in while loop

In [16]:
i = 0

while i<=5:
    print(i)
    i+=1
    if i==3:
        break

0
1
2

In [17]:
# print the first 10 natural numbers using for loop.

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
given_range=11

for i in range(1,given_range):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [19]:
# Write a program to print all the even numbers within the given range. i.e 10


for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [21]:
given_range= 11

for i in range(given_range):
    if i %2==0:
        print(i)

0
2
4
6
8
10

In [22]:
# Python program to calculate the sum of all numbers from 1 to 10.


num=10
sum=0

for i in range(1,10+1):
    sum+=i
print(sum)

55

In [23]:
# Write a program to calculate the sum of all the odd numbers within the given range 10


sum=0
for i in range(1,11,2):
    sum+=i
print(sum)

25

In [24]:
num=10

sum=0
for i in range(num):
    if i%2!=0:
        sum+=i
print(sum)

25

In [27]:
# Python program to display numbers from a list using for loop.[1,2,4,6,8,10,88,125,190]

list1=[1,2,4,6,8,10,88,125,190]

for i in list1:
    print(i,end=' ')

1 2 4 6 8 10 88 125 190

In [30]:
# Python program to count the total numner of digits in a number 1,2,4,6,8,10,88,125,190

numbers=[1,2,4,6,8,10,88,125,190]

for i in range(len(numbers)):
    print(i,numbers[i])

0 1
1 2
2 4
3 6
4 8
5 10
6 88
7 125
8 190

In [8]:
#find the max,min, total, average, median using for loop.  

list1=[100.23,456,789,951,852,753,854,856,1002]
sum1=0
print('Maximum value is:',max(list1))
print('Minimum value is:',min(list1))
print('Sum is:',sum(list1))

for i in list1:
    sum1+=i
print('Total value is:',sum1)
print('Average value is:',sum1/len(list1))

m=len(list1)//2
print('Median:',list1[m])

Maximum value is: 1002
Minimum value is: 100.23
Sum is: 6613.23
Total value is: 6613.23
Average value is: 734.8033333333333
Median: 852

In [9]:
# Write a program to count the even or odd number using for loop from the series.
num= [1,2,3,4,5,6,7,8,98,10]

for i in num:
    if i%2==0:
        print(i,'is an even number')
    else:
        print(i,'is an odd number')

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
98 is an even number
10 is an even number

In [13]:
# Write a program to display all the prime numbers from 10 to 30.


for i in range(20,50,1):
    if i%2==0 or i%3==0 or i%5==0 or i%7==0:
        continue
    else:
        print(i)

23
29
31
37
41
43
47

In [14]:
# Write a python program to print the sum of first 10 Even numbers using while loop.
i=0
s=0
while i<=10:
    if i%2==0:
        s+=i
    i+=1
print('The Sum of the first 10 Even numbers is:',s)  # 2,4,6,8,10

The Sum of the first 10 Even numbers is: 30

In [17]:
# Write a python program to print all the even numbers that falls between two user input:
num1=int(input('Enter first range:'))
num2=int(input('Enter second range:'))

while (num1<num2+1):
    if num1%2==0:
        print(num1)
    num1+=1

Enter first range:1
Enter second range:50
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [24]:
# Write a python program to find the sum of the digits of number accepted from the user.

# 1234=10

num1=int(input('Enter numbers to get sum:'))
remainder=0
sum1=0
while num1>0:
    remainder=num1%10
    sum1=sum1+remainder
    num1=num1//10
print('The total sum of the number is:',sum1)

Enter numbers to get sum:1234
The total sum of the number is: 10

In [21]:
123%10

3

In [22]:
12%10

2

In [23]:
1%10

1

In [25]:
1234%10

4

In [26]:
123%10

3

In [27]:
12%10

2

In [28]:
1%10

1