# 8. Loops in Python


 * __A for loop is used for iteration over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in list, tuple, set etc.__
 * __The for loops does not require an indexing variable to set beforehand.__
 * __With the while loop we can execute a set of statements as long as a condition is true.__
 * __Note: remember to increment i, or else the loop will continue forever.__
 * __The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1/=.
 
# range() function

 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code a specified number of times, we can use the range() function.__
 * __The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.__

In [1]:
print(range(5))

range(0, 5)

In [2]:
print(range(10))

range(0, 10)

# for loop

 * __The for loop enables you to execute a code block multiple times.__

In [3]:
years=[2005,2006,2007,2008,2009,2010]

for i in years:
    print(i)

2005
2006
2007
2008
2009
2010

In [4]:
for x in years:
    print(x)

2005
2006
2007
2008
2009
2010

In [19]:
for i in range(len(years)):
    print(i,years[i])

0 2005
1 2006
2 2007
3 2008
4 2009
5 2010

In [8]:
# Another for loop example

for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [12]:
for i in range(30,50,3):
    print(i)

30
33
36
39
42
45
48

In [18]:
languages=['Java','JavaScript','C','C++','PHP']

for i in range(len(languages)):
    print('language is:',i,languages[i])

language is: 0 Java
language is: 1 JavaScript
language is: 2 C
language is: 3 C++
language is: 4 PHP

In [20]:
# another method

for index, i in enumerate(languages):
    print(index,i)

0 Java
1 JavaScript
2 C
3 C++
4 PHP

In [21]:
# To take numbers between -3 and 6 using for loop
# use range() function

for i in range(-3,7):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6

In [24]:
number1=int(input('Enter any number\n'))

for i in range(1,11):
    print('%dX%d=%d'%(number1,i,number1*i))

Enter any number
35
35X1=35
35X2=70
35X3=105
35X4=140
35X5=175
35X6=210
35X7=245
35X8=280
35X9=315
35X10=350

# Addition and average calculation in for loop

In [31]:
# Take a list

nlis=[0.577,2.718,3.14,1.618,1729,6,37,100]

# Write a for addition
count=0    #global variable
for i in nlis:
    count+=i
print('The total value of the numbers in the list is:',count)
print('The average value of the numbers in the list is:',count/len(nlis))

The total value of the numbers in the list is: 1880.053
The average value of the numbers in the list is: 235.006625

# break in for loop

In [35]:
# brak in for loop

nlis=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]

for i in nlis:
    if i==11:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10

# Continue in for loop

In [37]:
nlis=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]

for i in nlis:
    if i == 9:
        continue
    print(i)

1
2
3
4
5
6
7
8
10
11
12
13
14